@using AdminManager.Models.ViewModels;
@model PageList<Product>
@*Pagination*@
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div class=" row pt-4">
    <div class="col-6">
@*        <h1>Dealer</h1>
*@    </div>
    <div class=" col-6 text-end">
        <div>
            <a asp-area="User" asp-controller="Product" asp-action="AddProduct" class="btn btn-primary">
                <i class="bi bi-person-plus-fill"></i> &nbsp; Add Product
            </a>        
        </div>
    </div>
</div>

<div class="container p-3">
    <div class=" row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Product List </h2>

        </div>
    </div>




    <br /><br />


    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
             
                <th>
                    Product Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Discounted-Amt
                </th>
                <th>
                    IsActive
                </th>
                <th>Image</th>
                <th>Action</th>

            </tr>

        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                   
                    <td width="10%">
                        @obj.Name
                    </td>
                    <td width="10%">
                        @obj.Price
                    </td>
                    <td width="10%">
                        @obj.Quantity
                    </td>
                    @if(obj.DiscountAmount == 0 || obj.DiscountAmount == null)
                    {
                        <td width=" 15%">
                            No Discount     
                        </td>
                    }
                    else
                    {
                      <td width="15%">
                        @obj.DiscountAmount
                     </td>    
                    }
                    
                   
                    @if(obj.IsActive == true)
                    {
                        <td class="text-success" width="5%">
                          Active
                        </td>
                    }
                    else
                    {
                        <td class="text-danger" width="5%">
                            DeActive
                        </td>
                    }
                    <td width="12%"> <img src="@obj.ImageUrl" style="width:200px" /></td>


                    <td width="20%" >
                        <a asp-area="User" asp-controller="Product" asp-action="AddProduct" asp-route-Id="@obj.ProductId"
                       class="btn btn-outline-success mx-2"> <i class="bi bi-pencil-square"></i> Edit </a> 
                        <a asp-area="User" asp-controller="Product" asp-action="DeleteProduct" asp-route-Id="@obj.ProductId"
                       class="btn btn-outline-danger mx-2"> <i class="bi bi-pencil-square"></i> Delete </a>     &nbsp;            
                        <a asp-area="User" asp-controller="Product" asp-action="AddDiscount" asp-route-Id="@obj.ProductId"
                       class="btn btn-outline-primary mx-2"> <i class="bi bi-pencil-square"></i> Add-Discount </a>
                    </td>
                        
                </tr>
            }
        </tbody>
    </table>
    <div class="justify-content-end">
     <a    asp-area="User" asp-controller="User" asp-action="Dealer" asp-route-Page="@(Model.PageIndex - 1)" class="btn btn-info @prevDisabled">
         Previous
    </a>
    &nbsp;
    <a asp-area="User"  asp-controller ="User" asp-action="Dealer" asp-route-Page="@(Model.PageIndex + 1)" class="btn btn-info @nextDisabled">
        Next 
        
    </a>
    </div>
    <br />
    <a asp-area="User" asp-controller="User" asp-action="Back"
       class="btn btn-outline-dark mx-2"> <i class="bi bi-pencil-square"></i> Back </a>
</div>

