@model IEnumerable<AdminManager.Models.Product>









<form method="get" asp-controller="Home" asp-action="Index" class="d-flex col-4">
    <input class="form-control me-sm-2" type="text" placeholder="Search By Product Name..." name="term" value="@ViewBag.SearchStr">
    <button class="btn btn-secondary my-2 my-sm-0 me-sm-2" type="submit">Search</button>
</form>


<div class="row pb-3">
    @foreach (var product in Model)
    {
        <div class=" col-lg-3 col-md-6">
            <div class=" row p-2">
                <div class=" col-12 p-1" style=" border:1px solid#008cba; border-radius:5px;">
                    <div class="card">
                        <img src="https://localhost:44331/@product.ImageUrl" class="card-img-top rounded" />
                        <div class="card-body">
                            <div class="pl-1">
                                <p class=" card-title h5  text-primary">@product.Name</p>
                                <p class=" card-title  text-secondary"> <b>@product.Description</b></p>
                            </div>
                            <div class="pl-1">
                                @if(product.DiscountAmount == null || product.DiscountAmount == 0)
                                {
                                    <p> Price:<b>Rs- @product.Price.ToString("0.00")</b></p>

                                }
                                else
                                {
                                 <p> Price: <strike><b>Rs- @product.Price.ToString("0.00")</b></strike></p>
                                }
                            </div>
                            <div class="pl-1">
                                @if (product.DiscountAmount == null || product.DiscountAmount == 0)
                                {
                                    <p> Discount Amt: <b>No Discount </b></p>
                                }
                                else
                                {
                                    <p>Discount Amt- <b>Rs-@product.DiscountAmount.ToString("0.00")</b></p>
                                }
                            </div>
                        </div>
                        <div>
                            <a asp-action="Details" class=" btn btn-primary form-control" asp-route-id="@product.ProductId">Details</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }

</div>